body{
	background-color: #E0E0E0;
}

.margin-avatar{
	padding-bottom: 10px;
	padding-top: 10px;
}

.padding-style{
	margin-right: 10px !important; 
}

select{
	padding: 11px;
	background: #FFFFFF;
	border-radius: 5px;
	border-color: #DCDCDC;
};

.edit_conta{
	float: left;
	
}